@font-face {
    font-family: Nexa-Heavy;
    src: url(../fonts/Nexa-Heavy.ttf);
}


body {
    margin: 0;
    padding: 0;
}

.homeText {
    font-family: Nexa-Heavy;
    font-size: 40px;
    position: absolute;
    display: flex;
    top: 39%;
    left: 47%;
    text-align: center;
}
.middle {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.homeBtn {
    background: none;
    border-radius: 10px;
    border: 2px solid black;
    font-family: Nexa-Heavy;
    font-size: 40px;
    min-width: 300px; 
    min-height: 75px; 
    cursor: pointer;
    transition: color 0.4s linear,
}

.homeBtn:hover {
    color: white; /* Text color changed to white on hover */
}

.homeBtn::before {
    border-radius: 10px;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.homeBtn::before {
    transform: scaleX(0);
}

.homeBtn:hover::before {
    transform: scaleX(1);
}
